.blog-item-link{
    text-decoration: none;
    color: black;

}
.blog-item-container{
    border: 1px solid #d3d3d3;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.blog-image{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
} 
@media screen and (min-width: 768px){
    .blog-item-container{
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }
    .blog-image{
        width: 40%;
    }
    .blog-details-container{
        width: 60%;
    }
}  
.topic-name{
    color: #2f4f4f90;
    font-family: 'Roboto';
    margin-bottom: 0;
}
.blog-title{
    color: #000000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 6px;
}
.avatar-author-container{
    display: flex;
    align-items: center;
}
.avatar-image{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;

}
.author-name{
    color: #2f4f4f90;
    font-family: 'Roboto';
}